*{padding: 0px; margin: 0px;};

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{

}

header, img{
	width: 100%;
	height: px;
	background-color: #D49F5D;
}

#logo-menu{
	width: 20vh;
	display: flex;
	align-items: center;
}

.container-menu{
	clear: both;
	display: flex;
	align-items: center;
}

nav{
	width: 100%;
	background-color: #f2f2f2;
	text-align: right;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	z-index: 5;
}

a{
	text-decoration: none;
	
}

.a-menu{
	text-decoration: none;
	font: 1.2rem "Montserrat", sans-serif; 
	color: #000;
	margin-right: 40px;
}

#link-eventos{
	font: 1.2rem "Montserrat", sans-serif; 
	color: #FFF;
	background-color: #71842A;
	border: 2px solid #C4C4C4;
	margin-right: 40px;
	padding: 10px;
}

h1{
	font: 2rem "Montserrat", sans-serif; 
	margin-bottom: 20px;	
}

h2{
	font: 2rem "Montserrat", sans-serif; 
	margin-bottom: 1.2rem;
}

main, #pag-quemsomos, #pag-pilares, #pag-historia{
	padding: 50px;
}

main{
	background-color: #D49F5D;
	font: 1.5rem "Montserrat", sans-serif; 
	border-bottom: 10px solid #71842A;
}

#pag-quemsomos{
	background-color: #B84C32;
	font: 1.2rem "Montserrat", sans-serif; 
	color: #FFF;
	text-align: justify;
	line-height: 30px;
	display: flex;
	border-bottom: 10px solid #D49F5D;
	margin-bottom: 30px;
}

#container-fotos{
	width: 600px;
	height: 400px;
	margin-left: 30px;
	position: relative;
	left: 30px;
	top: 40px;
	z-index: 3;
}

#pag-pilares{
	font: 1.3rem "Montserrat", sans-serif; 
	display: flex;
	border-bottom: 10px solid#71842A;
}

.textos{
	font: 1.3rem "Montserrat", sans-serif; 
	width: 50%;
	text-align: justify;
	line-height: 30px;
	padding-right: 40px;
}

#container{
	width: 50%;
	display: flex;
	justify-content: space-between;
}

.img-card{
	width: 300px;
	height: 200px;	
}

#card{
	background-color: #B84C32;
}

#card2{
	background-color: #D49F5D;
}

#card3{
	background-color: #71842A;
	float: right;
}

.card-texto{
	font: 1.5rem "Montserrat", sans-serif; 
	color: #FFF;
	text-align: center;
	padding: 20px;
}

#pag-historia{
	background-color: #B84C32;
	color: #FFF;
	border-bottom: 10px solid #D49F5D;
}

#pag-apoiadores{
	background-color: #fff;
	padding: 50px;
}

#alignh2 {
	text-align: center;
}

.foto-apoiadores{
	height: 200px;
	margin-top: 40px;
}

#container-apoiadores{
	display: flex;
	justify-content: space-evenly;
}

footer {
    background-color: #D49F5D;
    padding: 40px;
}
#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 15%;
}
#slogan {
    width: 70%;
    text-align: center;
    color: #ffffff;
}
#redes {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
#redes img {
    width: 40px;
}
#copyright {
    text-align: center;
    padding-top: 40px;
}
