@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
}
p {
    font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
}
a {
    text-decoration: none;
    color: #000000;
    font-family: "Montserrat", sans-serif;
}
/* cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f2f2f2;
    border-style: solid;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-width: 1px;
    border-color: #c4c4c4;
}
#navegacao {
    display: flex;
    align-items: center;
}
.navegacao {
    margin-right: 30px;
}
header button {
    padding: 7px 20px;
    background-color: #ffffff;
    border-width: 1px;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
header button:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}
#logoheaderimg {
    width: 200px;
}
#userimg {
    width: 50px;
}
#searchimg {
    width: 25px;
}
#buttonsearch {
    padding: 10px;
    background-color: #ffffff;
    border-width: 1px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

/* conteúdo */

#flex {
    display: flex;
}

/* navegação */

nav {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 0px 30px;
    background-color: #f2f2f2;
}
.navigation {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: none;
    display: flex;
    align-items: center;
    padding: 7px 20px;
}
.navigation:hover {
    background-color: #cacaca;
    cursor: pointer;
}
.navigation img {
    width: 33px;
    margin-right: 10px;
}
#eventoimg {
    width: 40px;
    margin-left: -4px;
    margin-right: 8px;
}
#envioimg {
    width: 40px;
    margin-left: -4px;
    margin-right: 8px;
}
.navigation p {
    width: 150px;
    text-align: left;
}

/* eventos */

main {
    padding: 50px 80px 0 80px;
}
.destaque {
    width: 100%;
    margin-bottom: 50px;
}
.destaque img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
.descricao {
    margin-top: -4px;
    padding: 10px;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    border-color: #c4c4c4;
}
.descricao h2 {
    margin-bottom: 15px;
}
.destaquepebutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.descricao button {
    padding: 7px 20px;
    background-color: #71842A;
    color: #ffffff;
    border: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.descricao button:hover {
    cursor: pointer;
}
.outros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}
.card {
    width: 30%;
}
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}
#floreser {
    object-position: top;
}
.descricao2 {
    margin-top: -4px;
    padding: 10px;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    border-color: #c4c4c4;
}
.descricao2 h3 {
    margin-bottom: 15px;
}
.outrospebutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.outrospebutton button {
    padding: 7px 20px;
    background-color: #c4c4c4;
    color: #ffffff;
    border: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

/* rodape */

footer {
    background-color: #D49F5D;
    padding: 40px;
}
#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 15%;
}
#slogan {
    width: 70%;
    text-align: center;
    color: #ffffff;
}
#redes {
    width: 15%;
    display: flex;
    justify-content: space-evenly;
}
#redes img {
    width: 40px;
}
#copyright {
    text-align: center;
    padding-top: 40px;
}