@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px; margin: 0px;
}

body {
    overflow-x: hidden;
}

/* Botões */
.button{
	font: 1.2rem "Montserrat", sans-serif; 
	color: #FFF;
	background-color: #71842A;
	padding: 10px;
}

.button-desative{
	font: 1.2rem "Montserrat", sans-serif; 
	color: #FFF;
	background-color: #c4c4c4;
	padding: 10px;
}

/* Títulos */
h1{
	font: 1.5rem "Montserrat", sans-serif; 
	font-weight: 600;
	margin-bottom: 10px;	
}

/* Subtítulos */
h2{
	font: 2rem "Montserrat", sans-serif; 
	font-weight: 600;
	margin-bottom: 1.2rem;
	margin-top: 1.2rem;
}

/* Titulos dos eventos */
h3 {
    font: 1.5rem "Montserrat", sans-serif; 
    font-weight: 600;
}

/* links */
a{
	text-decoration: none;
	font: 1.3rem "Montserrat", sans-serif; 
}

p {
    font: 1.3rem "Montserrat", sans-serif; 
    text-align: justify;
}

/* menu */
#logo-menu {
    width: 20vh;
}

/* Navegação */
nav{
	width: 100%;
	background-color: #f2f2f2;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
    top: 0;
    z-index: 1;
}

ul{
    list-style-type: none;
}

#navegacao {
    display: flex;
    align-items: center;
}

.a-menu{
	text-decoration: none;
	font: 1.2rem "Montserrat", sans-serif; 
	color: #000;
	margin-right: 40px;
}

/* botão para a página de eventos */
#link-eventos {
    margin-right: 40px;
}

/* botão de procurar da página de eventos */
#buttonsearch {
    padding: 5px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin-right: 40px;
}

#buttonsearch:hover {
    cursor: pointer;
}

#searchimg {
    width: 45px;
}

#botão-ingressos {
    padding: 7px 20px;
    background-color: #ffffff;
    border-width: 1px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    font: 1rem "Montserrat", sans-serif; 
	padding: 10px;
}

#botão-ingressos:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

#userimg {
    width: 60px;
    margin-right: 40px;
}

/* rodapé */
footer {
	width: 100%;
    background-color: #D49F5D;
	margin-bottom: 30px;
	padding-bottom: 30px;
	margin: 0px;
}

#content {
    display: flex;
    justify-content: space-between;
    align-items: center;
	padding: 30px;
}

#logo-rodape {
    width: 20%;
    display: flex;
    align-items: center;
	padding: 0 auto;
}

#logo-rodape img {
    width: 15vh;
}

#logo-rodape p {
    font: 0.6rem "Montserrat", sans-serif; 
    font-size: medium;
    color: white;
}

#slogan {
    font-size: large;
    font: 1.5rem "Montserrat", sans-serif; 
    width: 60%;
    text-align: center;
    color: #ffffff;
}

#redes {
    width: 20%;
    display: flex;
    align-items: center;
    margin-right: 30px;
}

#instagram {
    width: 60px;
}

#youtube {
    width: 60px;
}

#copyright p {
    margin-top: 40px;
    text-align: center;
    color: white;
    font: 1rem "Montserrat", sans-serif; 
    font-size: larger;
}

/*Index*/

/* Banner */
#img-banner {
    width: 100%;
}

/* Definindo padding para todas as seções da página */
main, #pag-noticias, #pag-pilares, #pag-historia {
	padding: 100px;
}

/* seção de notícias do site */
#pag-noticias {
	background-color: #D49F5D;
	display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 10px solid #B84C32;
	border-bottom: 10px solid #71842A;
    margin-top: -4px;
}

#texto-noticia {
	width: 50%;
	text-align: justify;
    margin-left: 25px;
}


#foto-noticia{
	width: 50%;
}

/* Seção quem somos */
#pag-quemsomos{
	background-color: #B84C32;
	color: #FFF;
	display: flex;
    justify-content: space-between;
    align-items: center;
	border-bottom: 10px solid #D49F5D;
}

#txt-quemsomos{
	width: 50%;
}

#foto-quemsomos{
    width: 50%;
	object-fit: cover;
    margin-left: 25px;
}

/* Seção de Pilares */
#pag-pilares{
	background-color: #FFF;
	border-bottom: 10px solid #71842A;
}

#pag-pilares h2{
	text-align: center;
}

.p-pilares {
    margin-bottom: 30px;
}

#container-pilares{
	display: flex;
	justify-content: space-between;
	padding: 60px 60px;
}

.img-card{
	width: 100%;
	height: 200px;	
	object-fit: cover;
}

#card{
	background-color: #B84C32;
	width: 25%;
	box-shadow: 0px 2px 8px;
    transition: 0.3s;
}

#card:hover{
    box-shadow: 0px 2px 5px;
}

#card2{
	background-color: #D49F5D;
	width: 25%;
	box-shadow: 0px 2px 8px;
    transition: 0.3s;
}

#card2:hover{
    box-shadow: 0px 2px 5px;
}

#card3{
	background-color: #71842A;
	width: 25%;
	box-shadow: 0px 2px 8px;
    transition: 0.3s;
}

#card3:hover{
    box-shadow: 0px 2px 5px;
}

.card-texto{
	color: #FFF;
	text-align: center;
	padding: 20px;
}

/* Seção História */
#pag-historia{
	background-color: #B84C32;
	color: #FFF;
	border-bottom: 10px solid #D49F5D;
	display: flex;
}

#texto-historia{
	width: 60%;
}

#container-historia {
	width: 40%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
	padding-left: 100px;
    align-items: center;
}

.coluna-historia {
    gap: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}

.coluna-historia img {
    width: 100%;
    height: 250px;
    display: block;
    object-fit: cover; /* Ajusta a imagem para cobrir o contêiner sem distorcer */
    transition: transform 0.5s;
}

.coluna-historia img:hover {
    transform: scale(1.1); 
}

/* Seção de apoiadores */
#pag-apoiadores{
	background-color: #fff;
    padding-top: 30px;
    padding-bottom: 50px;
}


.foto-apoiadores{
    max-height: 25vh;
	max-width: 25vh;
    height: 100%;
    width: 100%;
}

#deligusta {
    max-height: 50vh;
	max-width: 50vh;
}

#greenpeace {
    max-height: 40vh;
	max-width: 40vh;
}

#pag-apoiadores h2{
	text-align: center;
	padding-bottom: 2vh;
}

#container-apoiadores{
	display: flex;
    align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
}

/* Botão flutuante Whatsapp */
#botao-whatsapp{
	width: 15vh;
	position: fixed;
	bottom: 40px;
	right: 20px;
}

/* Botão flutuante inscreva-se */
#inscrevase {
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

#inscrevase:hover {
    cursor: pointer;
}

#inscrevase img {
    width: 50px;
}

/* Página do usuário */
#flex {
    display: flex;
}

/* Barra lateral */
aside {
    display: flex;
    flex-direction: column;
    padding: 50px 30px 0px 30px;
    background-color: #f2f2f2;
}

.navigation {
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: none;
    display: flex;
    align-items: center;
    padding: 7px 20px;
}

.navigation:hover {
    background-color: #cacaca;
    cursor: pointer;
}

.navigation img {
    width: 33px;
    margin-right: 10px;
}

#eventoimg {
    width: 40px;
    margin-left: -4px;
    margin-right: 8px;
}

#envioimg {
    width: 40px;
    margin-left: -4px;
    margin-right: 8px;
}

.navigation p {
    width: 170px;
    text-align: left;
    font: 1rem "Montserrat", sans-serif;
}

/* Eventos da página do usuário */

/* Cards grandes */
.destaque {
    width: 100%;
    margin-bottom: 50px;
}

.destaque img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.descricao h2 {
    margin-bottom: 15px;
}

.destaquepebutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descricao button {
    border: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

.descricao button:hover {
    cursor: pointer;
}

.descricao {
    margin-top: -4px;
    padding: 10px;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    border-color: #c4c4c4;
}

/* Cards pequenos */
.outros {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 50px;
}

.descricao2 {
    margin-top: -4px;
    padding: 10px;
    border-style: solid;
    border-top: 0;
    border-width: 1px;
    border-color: #c4c4c4;
}

.descricao2 h3 {
    margin-bottom: 15px;
}

.card {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.outrospebutton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outrospebutton button {
    font: 0.9rem "Montserrat", sans-serif;
    border: none;
    margin-right: 15px;
    display: flex;
    align-items: center;
}

/* Página de eventos */

#floreser {
    object-position: top;
}


/* Página de login */

/* seta para voltar para a página anterior */
.btn-back{
    position: absolute;
    top: 120px;
    left: 15px; 
	width: 9vh;
}


/* Formulário */
#pag-login {
    padding: 50px; 
}

#pag-login h1 {
	font: 2rem "Montserrat", sans-serif; 
    margin-bottom: 30px;
    text-align: center;
    padding: 30px;
}

#pag-login p{
    margin-top: 10px;
    color: #777; 
    text-align: justify; 
    text-indent: 20px; 
    line-height: 30px;
    text-align: center; 
    padding: 10px;
    font: 1rem "Montserrat", sans-serif;
}

/* Form */
form{
    width: 400px;
    margin: 0 auto;
    margin-bottom: 10vh;
}

label{
   font: 1rem "Montserrat", sans-serif; 
 }

input{
	font: 0.9rem "Montserrat", sans-serif; 
    width: 100%;
    height: 30px;
    margin-bottom: 30px;
    padding-left: 5px;
    border: 1px solid #C4C4C4;
    color: #777;
	box-sizing: border-box;
}


/* Botões */
#btn-form{
    display: flex;
}

/*botões do cadastro*/
#botoes-form{
	width: 100%;
}


input[type="submit"]{
    background-color: #71842A;
    color: #FFF;
    border: 0;
    transition: 0.3s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: green;
}

input[type="reset"]{
    background-color: #B84C32;
    color: #FFF;
    border: 0;
    text-align: center;
    transition: 0.3s;
}

input[type="reset"]:hover {
    cursor: pointer;
    background-color: red;
}

#btn-cancelar{
	margin-left: 10px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: green;
}

.alternative-login {
    margin-top: 20px;
}

/* botões do google e email */
.google-btn, .email-btn {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.google-btn {
    padding: 0;
}

.google-btn{
    background-color: #ffffff;
    color: #555555;
}

.google-btn:hover {
    background-color: #f1f1f1;
}

.email-btn {
    background-color: #ffffff;
    color: #555555;
}

.email-btn:hover {
    background-color: #f1f1f1;
}

#icon-email {
    width: 30px;
    vertical-align: middle;
}

#icon-google {
    width: 40px;
    vertical-align: middle;
}


@media (max-width:480px){
    * {
        padding: 0px; margin: 0px;
    }

    nav{
        width: 100%;
        padding: 15px;
    }

    #logo-menu{
        width: 5vh;
    }

    .a-menu, .button{
        margin: 5px;
        font: 0.5rem "Montserrat", sans-serif; 
    }

    .button{
        padding: 5px;
    }

    #pag-login h1{
        font: 1.3rem "Montserrat", sans-serif; 
    }

    #pag-login p{
        font: 0.8rem "Montserrat", sans-serif; 
    }

    form{
        width: 300px;
        margin: 0 auto;
        margin-bottom: 10vh;
    }

    form a{
        font: 0.8rem "Montserrat", sans-serif;
    }

    label{
        font: 0.8rem "Montserrat", sans-serif; 
    }

    input{
        font: 0.6rem "Montserrat", sans-serif; 
        width: 100%;
        height: 25px;
        margin-bottom: 30px;
        padding-left: 5px;
        border: 1px solid #C4C4C4;
        color: #777;
        box-sizing: border-box;
    }

    #pag-login button{
        font: 0.8rem "Montserrat", sans-serif; 
        height: 35px;
    }

    #icon-google {
        width: 4vh;
        vertical-align: middle;
    }

    #icon-email {
        width: 3.5vh;
        vertical-align: middle;
    }

    .google-btn, .email-btn {
        width: 100%;
        padding: 2.5px;
        margin-bottom: 5px;
    }

    footer{
        width: 100%;
    }
    
    #logo-footer{
        width: 2vh;
    }

    #logo-rodape p{
        font: 1rem "Montserrat", sans-serif;
    }

    #slogan{
        font: 1rem "Montserrat", sans-serif;
    }

    #content{
        padding: 5px;
    }

    #instagram, #youtube{
        width: 4vh;
    }

    #copyright{
        font: 0.8rem "Montserrat", sans-serif;
    }
}